.flight-preview {
    height: fit-content;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(183 206 245 / 62%));
    box-shadow: -2px -2px 11px 0px rgb(100 121 143 / 24%);
    border-radius: 4px;

    .wrapper1 {
        width: 80%;
    }

    .price-container {
        width: 20%;
        align-items: stretch;

        h2 {
            font-weight: 400;
        }
    }
}