.flight-filter {
    margin-bottom: 34px;
    padding: 8px 8px 16px 16px;
    padding-bottom: 16px;
    border-radius: 4px;
    border: 1px solid rgb(195 210 255);
    align-items: center;
    font-size: 25px;
    box-shadow: -2px -2px 11px 0px rgb(100 121 143 / 24%);
    background-image: linear-gradient(to bottom right, rgb(220 230 255), rgb(108 175 255 / 79%));
    gap: 10px;
    position: sticky;
    top: 0px;
    z-index: 20;
    min-width: 650px;
    input {
        width: 50%;
        padding: 10px 15px;
        border-radius: 10px;
    }

@media (max-width:800px) {
    width: 80vw;
    margin: 30px auto;
}

    .row1 {
        margin-bottom: 16px;

        .sub1 {
            padding-top: 6px;
            // width: 116px;

            span {
                font-size: 14px;
            }

            input {
                margin: 0;
                margin-top: 2px;
                margin-inline-start: -2px;
            }
        }

    }

    .stops-filter,
    .companies-filter {
        position: relative;

        .companies-dropdown {
            min-width: 420px;
        }

        .stops-dropdown,
        .companies-dropdown {
            z-index: 10;
            position: absolute;
            background-color: white;
            background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(183 206 245 / 62%));

            padding: 12px;
            top: 34px;
            left: -1px;
            border-radius: 6px;
            box-shadow: 0px 2px 14px 2px rgb(43 17 74 / 10%);

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 330px;
            width: fit-content;

            .stop-row,
            .company-row {
                min-width: 150px;

                input {
                    margin-inline-end: 8px;
                }
            }

            .company-row {
                width: 200px;
            }
        }

    }

    // dropdowns txt
    .txt-wrapper {
        padding: 4px 8px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            outline: 1px solid rgb(43 17 74 / 14%);
        }

        i {
            margin-inline-start: 6px;
            padding-bottom: 8px;
            color: rgb(68, 68, 68);
        }
    }

    // paging
    .paging-wrapper {

        .btns-wrapper {
            margin-inline-end: 4px;

            button {
                background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(218, 218, 218));
                border: 0;
                padding: 4px 8px;
                border-radius: 3px;

                &:hover {
                    outline: 1px solid rgb(43 17 74 / 14%);
                }
            }

            button:first-child {
                margin-inline-end: 3px;
            }
        }

        .paging-counter {
            font-size: 14px;
            margin-inline-end: 18px;
        }

        span {
            font-size: 14px;
        }

        .icon-wrapper1 {
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: rgb(68, 68, 68);
            }
        }
    }

    // track pattern
    select {
        cursor: pointer;
        margin-inline-end: 5px;
        background-color: inherit;
        border: 0;
        padding: 4px 8px;
        border-radius: 3px;
        color: rgb(51, 51, 51);

        &:hover {
            outline: 1px solid rgb(43 17 74 / 14%);
        }

        &:focus-visible {
            outline: 1px solid rgb(43 17 74 / 14%);
        }
    }
}