.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 26px;
    max-width: 1200px;
    padding-bottom: 16px;
.app-table-container{
    font-size: 15px;
}
    .main-container {
        flex: 1;
    }
}