.flight-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
    gap: 16px;

    .no-results{
        margin-top: 16vh;

        div{
            text-align: center;
        }
    }
}