<section class="flight-list">
    <div *ngIf="flights?.length">
        <table>
            <thead>
                <tr>
                    <th>Flight Number</th>
                    <th>Status</th>
                    <th>Takeoff Time</th>
                    <th>Landing Time</th>
                    <th>Takeoff Airport</th>
                    <th>Landing Airport</th>
                    <th>Updates</th>
                </tr>
            </thead>
            <tbody>
             <tr *ngFor="let flight of flights; trackBy: trackByFlightId">
                <td>{{flight.flightNumber}}</td>
                <td [style.color]="getColor(flight.status)">{{flight.status}}</td>
                <td>{{flight.takeoffTime}}</td>
                <td>{{flight.landingTime}}</td>
                <td>{{flight.takeoffAirport}}</td>
                <td>{{flight.landingAirport}}</td>
                <td *ngIf="flight.updates" class="updates">{{flight.updates}}</td>
                 <!-- <flight-preview *ngFor="let flight of flights; trackBy: trackByFlightId" [flight]="flight"></flight-preview> -->
                 
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!flights?.length" class="no-results flex align-center center">
        <div>
            <h2>No results for the specified filter,</h2>
            <br>
            <h3>Try to change parameters.</h3>
        </div>
    </div>
</section>