$clr1: #584fdf;
$clr2: #ff3f42;
$clr3: #582221;
$clr4: #112221;
$clr5: #100200;

$dark: #333;
$dark-03: #3333;
$dark-05: #3335;

$light: #eee;
$light-03: #eee3;
$light-05: #eee5;

$small-breakpoint: 650px;
$narrow-breakpoint: 1100px;
$normal-breakpoint: 1300px;
$x-wide-breakpoint: 2000px;
$xx-wide-breakpoint: 2400px;
$xxx-wide-breakpoint: 2800px;

$layoutPadding: 20px;


$mobile-breakpoint: 560px;
$medium-breakpoint: 750px;
$wide-breakpoint: 1500px;
